*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.container{
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    grid-template-rows: repeat(8,1fr) ;
}

.white{
    background-color: white;
}

.brown{
    background-color: brown;
}