*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    height: 400px;
    width: 400px;
   background-color: brown; /* => When we use background-color it will overflow so we use fr in place of px in measurement of grid Column & row measurement */
}

.first{
    background-color: orange;
}

.second{
    background-color: aquamarine;
}

.third{
    background-color: blueviolet;
}

.fourth{
    background-color: chartreuse;
}