*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.container{
    display: flex;
    background-color: rgb(211, 24, 149);
}

.box{
    height: 300px;
    width: 200px;
    margin: 10px;
    padding: 10px;
}

.first{
     background-color: aqua;
}

.second{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.child{
    height: 150px;
    background-color: rgb(238, 140, 12);

}