*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}

.box{
    height: 350px;
    width: 400px;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(114, 114, 224);
}

label{
    font-size: 20px;
    font-weight: 550;
    margin-top: 5px;
}

input{
    width: 70%;
    height: 25px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

button{
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    color: white;
    background-color: rgb(100, 100, 194);
    cursor: pointer;
}