*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*

.container{
    height: 300px;
    width: 300px;
    background-color: aqua;
    box-shadow: 10px 10px salmon;
    // box-shadow: offset-x offset-y blur-radius spread-radius //

 }   */

.container{
    height: 400px;
    width: 400px;
    background-color:yellow;
   /* border-radius: 50%; */ 
    box-shadow: 0px 0px 10px 10px red;
    overflow: scroll;
}

p{
    color: blueviolet;
}