*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: top;
   
}

.container{
    background-color: aliceblue;
    border: 1px solid rgba(138, 21, 47, 0.129);
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
} 


p{
    font-size: 50px;
    margin-left: 20%;
    animation-name: para;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    color: red;
}

@keyframes para {
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -100%;
    }
}